In [ ]:
import pandas as pd
df = pd.read_csv("Credit_Card.csv")
df.head()

,Posted Date,Transaction Date,Description,Transaction Type,Category,Location,Amount (USD)
0,3/3/2025,3/4/2025,WALMART,Purchase,Groceries,COM ARUSA,$37.04
1,9/4/2025,3/8/2028,MTEVEREST,Purchase,Food & Dining,SAN FRANCISCOCAUSA,$31.72
2,3/4/2025,3/6/2025,7-ELEVEN,Purchase,Food & Dining,OKLAHOMA CITYOKUSA,$5.02
3,3/4/2025,3/6/2025,7-ELEVEN,Purchase,Food & Dining,OKLAHOMA CITYOKUSA,$2.82
4,3/8/2025,3/9/2025,DESIBITES,Purchase,Food & Dining,SAN FRANCISCOCAUSA,$21.24

In [3]:
import pandas as pd

# Load CSV file
df = pd.read_csv("Credit_Card.csv")

# Clean Amount column
df['Amount (USD)'] = df['Amount (USD)'].replace(r'[\$,]', '', regex=True).astype(float)


# Convert date column
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'])

# Add Month column
df['Month'] = df['Transaction Date'].dt.to_period('M')

# Save cleaned data to new Excel file
df.to_excel("Cleaned_Credit_Card_Data.xlsx", index=False)

print("✅ Data cleaned and saved to 'Cleaned_Credit_Card_Data.xlsx'")

✅ Data cleaned and saved to 'Cleaned_Credit_Card_Data.xlsx'